<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/output.css" />
        <link rel="stylesheet" href="/src/input.css" />
        <title>Slider Ossos</title>
    </head>
    <body class="h-screen w-screen">
        <div
            class="top flex h-full w-full flex-col flex-wrap sm:flex-row sm:flex-nowrap"
        >
            <div
                class="tela-central h-1/3 w-full flex-grow-0 rounded-2xl p-6 sm:h-full sm:w-[60%] sm:pr-0"
            >
                <div
                    class="relContainer relative size-full rounded-2xl shadow-lg shadow-slate-500"
                >
                    <iframe
                        src="https://sketchfab.com/models/a3a7df78d78c473095cb5ce527772764/embed"
                        frameborder="0"
                        class="size-full rounded-2xl"
                    ></iframe>
                    <div
                        class="fullscreen absolute bottom-0 right-0 size-[4.2rem] rounded-2xl bg-transparent hover:cursor-pointer"
                    ></div>
                </div>
            </div>
            <div class="tela23 flex flex-grow flex-col flex-wrap">
                <div
                    class="tela-2 flex-grow rounded-2xl p-6 pb-0 sm:h-[50%] sm:w-full"
                >
                    <div
                        class="relContainer relative size-full rounded-2xl shadow-lg shadow-slate-500"
                    >
                        <iframe
                            src="https://sketchfab.com/models/a3a7df78d78c473095cb5ce527772764/embed"
                            frameborder="0"
                            class="size-full rounded-2xl"
                        ></iframe>
                        <div
                            class="fullscreen absolute bottom-0 right-0 size-[4.2rem] rounded-2xl bg-transparent hover:cursor-pointer"
                        ></div>
                    </div>
                </div>
                <div
                    class="tela-3 flex flex-grow flex-col flex-wrap rounded-2xl p-6"
                >
                    <div
                        class="relContainer relative size-full rounded-2xl shadow-lg shadow-slate-50"
                    >
                        <iframe
                            src="https://sketchfab.com/models/a3a7df78d78c473095cb5ce527772764/embed"
                            frameborder="0"
                            class="size-full rounded-2xl"
                        ></iframe>
                        <div
                            class="fullscreen absolute bottom-0 right-0 size-[4.2rem] rounded-2xl bg-transparent hover:cursor-pointer"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/src/static/js/components/iframeFull.js"></script>
    </body>
</html>
