/* class */
.fade-in {
    -webkit-animation: fade-in 1s both;
    animation: fade-in 4s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
